@import "font-awesome";
.round-setup {
  .controls {
    margin-top: 1em;
    i[class^="icon-"] { font-size: 80px; margin: 0 25px; }
  }
}
.main .controls {
  margin-bottom: 1em;
  span { margin-right: 30px; }
  i[class^="icon-"] { font-size: 60px; }
}
