@import "font-awesome";
.round-setup {
  .controls {
    margin-top: 1em;
    i[class^="icon-"] { font-size: 80px; margin: 0 25px; }
  }
}
.main .controls {
  i[class^="icon-"] { font-size: 60px; }
}
